################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MyPlanner/.vs/MyPlanner/FileContentIndex/aafad736-9d19-45b2-9958-9365fd843f08.vsidx
/MyPlanner/.vs/MyPlanner/FileContentIndex/ecf1645e-93ce-471f-8af1-c5a6103cd484.vsidx
