################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MyPlanner/.vs/MyPlanner/FileContentIndex/aafad736-9d19-45b2-9958-9365fd843f08.vsidx
